body {
    margin: 20px;
    width: 700px;
    margin-left: 270px;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    border: 5px solid tomato;
    border-radius: 20px 100px / 120px;
    padding: 30px;
}

.para3 {
    color: white;
    background: black;
    border: 2px solid tomato;
    padding: 20px;
    border-radius: 10px;
    width: 650px;
}

.para8_1 {
    color: white;
    background: black;
    border: 2px solid tomato;
    padding: 20px;
    border-radius: 10px;
    width: 650px;
}